.game-selection {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid #3b42622b;
  background-repeat: no-repeat;
  background-position: center;
}

.app-choice {
  width: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  height: 250px;
  gap: 50px;
}

.my-game {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.player-choice button {
  cursor: pointer;
}

.player-choice {
  display: flex;
  gap: 50px;
  margin-top: 100px;
}

.you-piked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
